.figtree-medium {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.figtree-extra_bold {
    font-family: "Figtree", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.25s;
}

main {
    background-color: var(--Yellow);
    height: 100vh;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 384px;
    padding: 24px;
    border-radius: 20px;

    box-shadow: 8px 8px var(--Black);
    border: 1px solid black;
    background-color: var(--White);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.card:has(.title:hover) {
    box-shadow: 16px 16px var(--Black);
}

.illustration{
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    line-height: 1.5;
}

.learning {
    width: max-content;
    padding: 4px 12px;
    background-color: var(--Yellow);
    border-radius: 4px;
    font-size: 14px;
}

.date {
    font-size: 14px;
}

.title {
    font-size: 24px;
}

.title:hover {
    color: var(--Yellow);
    cursor: pointer;
}

.title:focus {
    color: var(--Yellow);
    background-color: var(--Black);
}


.description {
    font-size: 16px;
    color: var(--Grey);
}

.author {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.profile-picture {
    width: 32px;
    height: 32px;
}

.name {
    font-size: 14px;
}


@media screen and (max-width: 375px) {
    .card {
        width: 327px;
    }

    .learning,
    .date {
        font-size: 12px;
    }

    .title {
        font-size: 20px;
    }

    .description {
        font-size: 14px;
    }

}
